[submodule "contrib/satellite"]
	path = contrib/satellite
	url = https://github.com/a-andre/sns3-satellite.git
	branch = ns-3.41
[submodule "contrib/magister-stats"]
	path = contrib/magister-stats
	url = git@github.com:a-andre/stats.git
	branch = ns-3.41
[submodule "contrib/traffic"]
	path = contrib/traffic
	url = git@github.com:a-andre/traffic.git
	branch = ns-3.41
